{% load static %}
<div class="sidebar" data-color="purple" data-image="{% static 'administration/assets/img/sidebar-5.jpg' %}">

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{% url 'admin_home' %}" class="simple-text">
                Sudama Resturant
            </a>
        </div>

        <ul class="nav">
            <li id="nav-dashboard">
                <a href="{% url 'admin_home' %}">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li id="nav-all-users">
                <a href="{% url 'admin_list_user' %}">
                    <i class="pe-7s-user"></i>
                    <p>All Users</p>
                </a>
            </li>
            <li id="nav-menu">
                <a href="{% url 'admin_list_menu' %}">
                    <i class="pe-7s-note2"></i>
                    <p>Manage Menu</p>
                </a>
            </li>
            <li id="nav-todays-special">
                <a href="{% url 'admin_list_todays_special' %}">
                    <i class="pe-7s-star"></i>
                    <p>Manage Today's Special</p>
                </a>
            </li>      
            <li id="nav-table">
                <a href="{% url 'admin_list_table' %}">
                    <i class="pe-7s-news-paper"></i>
                    <p>Manage Tables</p>
                </a>
            </li>
            <li id="nav-reservation">
                <a href="{% url 'admin_list_reservation' %}">
                    <i class="pe-7s-clock"></i>
                    <p>Manage Reservations</p>
                </a>
            </li>      
            <li id="nav-order">
                <a href="{% url 'admin_list_order' %}">
                    <i class="pe-7s-check"></i>
                    <p>Manage Orders</p>
                </a>
            </li>      
            <li id="nav-contact-us">
                <a href="{% url 'admin_list_contact_us' %}">
                    <i class="pe-7s-call"></i>
                    <p>Manage Contact Us</p>
                </a>
            </li>      
        </ul>
    </div>
</div>